#about
{
    font-family: 'Tangerine', serif;
    font-size: 100px;
}

#skills
{
    font-family: 'Tangerine', serif;
    font-size: 100px;
}

#portfolio
{
    font-family: 'Tangerine', serif;
    font-size: 100px;
}

#contact
{
    font-family: 'Tangerine', serif;
    font-size: 100px;
}

.headerImage
{
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 300px;
}

.headerName
{
    font-family: 'Odibee Sans', serif;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
}

.form
{
    background-color: white;
    color: black;
    border: 1px solid black; 
}


.fontText
{
    font-family: 'Odibee Sans', serif;
}

.backgroundImage
{
    background-image: url(./Assets/Background2.PNG);
    background-position: center;
}

.navBar
{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    color: white;
    padding-top: 10px;
    padding-right: 20px;
    color: blanchedalmond;
    background-color: lightblue;
    z-index: 1;
    font-family: 'Odibee Sans', ;
}

.navBarFont
{
    font-family: 'Odibee Sans', serif;
    
}

.navBarLink
{
    color: white;
    font-family: 'Odibee Sans', ;
}

.aboutMeImage
{
    height: 450px;
    width: 350px;
    margin: 20px;
}

.skillsLogo
{
    height: 50%;
    width: 50%;
}

.projectCard
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}

.projectCardImage
{
  width: 300px;
  height: 300px;
  border: 1px solid black; 
}

.projectCard .cardFront
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.projectCard:hover .cardFront
{
  transform: rotateX(-180deg);
}

.projectCard .cardBack
{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transform: rotateX(180deg);
  transition: 0.5s;
}

.projectCard:hover .cardBack
{
  transform: rotateX(0deg);
}

.projectCard .cardBack .gameDetails
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

button 
{
    position: relative;
    left: 43.5%;
    margin-bottom: 20px;
}

.linkedInImg
{
    height: 5%;
    width: 5%;
}

.codePenImg
{
    height: 5%;
    width: 5%;
}

.gitHubImg
{
    height: 5%;
    width: 5%;
}